@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-300%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: flex;
    gap: 10px;
    animation: 60s slide infinite linear;
  }