@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: white; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background: #FFA100; /* Set the color of the thumb */
  border-radius: 5px; /* Add rounded corners to the thumb */
}


@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-175%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: flex;
    gap: 10px;
    animation: 30s slide infinite linear;
  }

  .custom-carousel .carousel-slider .slide img {
    margin-left: -20px; /* Offset the negative margin */
  }